<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <h1>Question <%= index + 1 %></h1>
      <p><strong><%= question[:clue] %></strong></p>
      <form action="/" method="post">
        <% question[:options].each do |option| %>
          <input type="radio" name="guess" value="<%= option %>"> <%= option %> <br>
        <% end %>
        <input type="submit" value="Next Question">
      </form>
      
      <form action="/" method="post">
        <input type="hidden" name="reset" value="true">
        <input type="submit" value="Start Over">
      </form>
    </main>
  </body>
</html>

